header
  h1
    | Guild Wars 2 &nbsp;
    br
    | New Players Guide

section#contents
  h1 Contents
  nav
    ul
      li(class=pageName === 'introduction' ? 'active' : '')
        a(href=basePath+'introduction') Introduction
      li(class=pageName === 'combat' ? 'active' : '')
        a(href=basePath+'combat') Combat
      li(class=pageName === 'equipment-stats' ? 'active' : '')
        a(href=basePath+'equipment-stats') Equipment &amp; Stats
      li(class=pageName === 'traits-skills' ? 'active' : '')
        a(href=basePath+'traits-skills') Traits &amp; Skills
